.header{
    height:12vh;
    width: 100%;
    display: flex;
    justify-content: space-between;

    .operations{
        display: flex;
        height: 2em ;
        > * {
            margin: 5px;
          }
    }
}
.main{
    height: 80vh;
    width: 100%;
    display: flex;
    .read{
        flex: 1;
        display: flex;
    }

}

.bottom{
    height: 8vh;
    width: 100%;
}